<a href="https://colab.research.google.com/github/saivijaay2107/AI-Docathon/blob/main/Practice_workbook_excel_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import cv2
import seaborn as srn

In [ ]:
number = np.linspace(1,5,10)
file = open('numbers_sample.txt','w')
for numbers in number:
  file.write('%f\n'%numbers)
file.close()

In [ ]:
file = open('numbers_sample.txt','r')
file = file.read()
print(file)

1.000000
1.444444
1.888889
2.333333
2.777778
3.222222
3.666667
4.111111
4.555556
5.000000

In [ ]:
data = pd.read_csv('numbers_sample.txt',
                    header =None, names=['Sales'])
data

      Sales
0  1.000000
1  1.444444
2  1.888889
3  2.333333
4  2.777778
5  3.222222
6  3.666667
7  4.111111
8  4.555556
9  5.000000

In [ ]:
import openpyxl
import xlrd
!pip install xlsxwriter
import xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.1-py3-none-any.whl (148 kB)
     |████████████████████████████████| 148 kB 2.6 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.1

In [ ]:
import xlsxwriter

In [ ]:
writer = pd.ExcelWriter('Great Learning.xlsx', engine = 'xlsxwriter')
writer.save()

In [ ]:
df= pd.DataFrame({
    'Names':['SAI','THARUN','RAJ','RAGUL'],
    'Marks':[93,69,98,35]
})
writer = pd.ExcelWriter('Great Learning.xlsx', engine='xlsxwriter')
df = df.to_excel(writer, sheet_name='Demo session', index= None)
writer.save()

In [ ]:
reader = pd.read_excel(r'Great Learning.xlsx')
print(reader)

    Names  Marks
0     SAI     93
1  THARUN     69
2     RAJ     98
3   RAGUL     35

In [ ]:
df= pd.DataFrame({
    'Names':['SAI','THARUN','RAJ','RAGUL'],
    'Marks':[93,69,98,35]
})
writer = pd.ExcelWriter('Great Learning.xlsx', engine='xlsxwriter')
df = df.to_excel(writer, sheet_name='Demo session', index= None)

workbook = writer.book
worksheet = writer.sheets['Demo session'] 
chart = workbook.add_chart({'type':'column'})
chart.add_series({'values': '=Demo session!$B$2:$B$5'})
worksheet.insert_chart('D2', chart)
writer.close()

/usr/local/lib/python3.7/dist-packages/xlsxwriter/chart.py:836: UserWarning: Sheetname in '=Demo session!$B$2:$B$5' contains spaces but isn't quoted. This may cause errors in Excel.
  "This may cause errors in Excel." % data)

In [ ]:
reader = pd.read_excel(r'Great Learning.xlsx')
print(reader)

    Names  Marks
0     SAI     93
1  THARUN     69
2     RAJ     98
3   RAGUL     35